* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#010409;
    display: flex;
}

.esquerda {
    padding-top: 20vh;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita {
    padding-top: 20vh;
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.divdireita1 {
    display: flex;
    margin-bottom: 12px;
}

.find {
    width: 50%;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    color: gray;
    background-color: transparent;
    height: 20px;
}

.type {
    color: #C9D1D9;
    border: 1px solid rgb(131, 127, 127);
    width: 70px;
    margin-left: 15px;
    background-color: #21262D;
    border-radius: 6px;
}

.avatar {
    width: 310px;
    height: 310px;
    border-radius: 300px;
}

.nomeuser {
    margin-top: 15px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.username {
    font-size: 20px;
    color: rgb(146, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
}

.nomeeuser {
    width: 100%;
    margin-left: 35%;
}

.edit {
    color: #C9D1D9;
    border: 1px solid rgb(131, 127, 127);
    width: 300px;
    height: 30px;
    background-color: #21262D;
    border-radius: 6px;
    margin-top: 14px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.language {
    color: #C9D1D9;
    border: 1px solid rgb(131, 127, 127);
    width: 100px;
    margin-left: 6px;
    background-color: #21262D;
    border-radius: 6px;
}

.sort {
    color: #C9D1D9;
    border: 1px solid rgb(131, 127, 127);
    width: 60px;
    margin-left: 6px;
    background-color: #21262D;
    border-radius: 6px;
}

.newr {
    color: white;
    width: 70px;
    margin-left: 14px;
    background-color: rgb(19, 151, 19);
    border: 1px transparent solid;
    border-radius: 6px;
}

.linharep {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 0.5px solid #656768;
    border-collapse: collapse;
}

.divlinha1 {
    display: flex;
    align-items: center;
}

.nomer {
    color: rgb(71, 147, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.private {
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid rgb(131, 127, 127);
    height: 13px;
    color: gray;
    margin-left: 10px;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.nomea {
    color: rgb(71, 147, 233);
    text-decoration: none;
}

.nomea:hover {
    text-decoration: underline;
}

.divlinha3 {
    margin-top: 10px;
    display: flex;
}

.lang {
    color: gray;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.descricao {
    color: gray;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.updated {
    color: gray;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}