* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(37, 36, 35);
    display: flex;
}

.esquerda {
    padding-top: 20vh;
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita {
    padding-top: 20vh;
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.divdireita1 {
    display: flex;
}

.find {
    width: 60%;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    color: gray;
    background-color: transparent;
    height: 20px;
}